<html>
<body><div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-md-offset-12">
            <div class="account-wall">
             <h1 class="text-center login-title"><b>Sign Up</b></h1>
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin">
                <input type="text" class="form-control" placeholder="First Name" required autofocus>
                <br>
                <input type="text" class="form-control" placeholder="Last Name" required>
                <br>
                <input type="text" class="form-control" placeholder="Phone Number" required>
                 <br>
                <input type="text" class="form-control" placeholder=Address required>
                <br>
                <input type="text" class="form-control" placeholder="City" required>
                <br>
                <input type="text" class="form-control" placeholder="State" required>
                 <br>
                <input type="text" class="form-control" placeholder="Zipcode" required>
                 <br>
                <input type="text" class="form-control" placeholder="Email" required>
                 <br>
                <input type="text" class="form-control" placeholder="Rating" required>
                <br>
                
                    <button>Sign up</button>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>